@font-face {
  font-family: BebasNeue;
  src: url(../fonts/bebas_neue/bebasneue_regular.ttf);
}

@font-face {
  font-family: Economica;
  src: url(../fonts/economica/economica_regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/opensans_light.ttf);
}